In [29]:
# Read CSV
import pandas as pd
df = pd.read_csv('sentiment_data.csv')
df.head()

                                                text  label
0      almost got in a giant car accident on the 101      0
1                    like something wholly original       1
2                                  b.s. one another       0
3  Happy Star Wars Day, may the 4th be with you  ...      1
4                                  few new converts       0

In [30]:
# Cleaning the text (Data Preprocessing)
import re
def clean_text(text):
    text = text.lower()  # lowercase
    text = re.sub(r"http\S+|www\S+|https\S+", '', text)  # remove URLs
    text = re.sub(r"@\w+", '', text)  # remove mentions
    text = re.sub(r"[^a-zA-Z\s]", '', text)  # remove punctuation/numbers
    text = re.sub(r'\s+', ' ', text).strip()  # remove extra spaces
    return text

df['cleaned_text'] = df['text'].apply(clean_text)

In [31]:
df.head()

,text,label,cleaned_text
0,almost got in a giant car accident on the 101,0,almost got in a giant car accident on the
1,like something wholly original,1,like something wholly original
2,b.s. one another,0,bs one another
3,"Happy Star Wars Day, may the 4th be with you ...",1,happy star wars day may the th be with you my ...
4,few new converts,0,few new converts

In [ ]:
# Seperate the Dependent Feature and Independent Features
X = 
y =

In [6]:
# Split the data into training and testing set (X_train, X_test, y_train, y_test)

### But we have a problem here 
- Since ML doesn't understand anything except the numbers. 
- But our independent features (X) is in alphabets, or letters.
- So, we need to convert those alphabets into numerical terms or numbers

### For that purpose, we can use TF-IDF (Term Frequency - Inverse Document Frequency)
- It's a way to find out **how important a word is in a document compared to a collection of documents.**
- **TF (Term Frequency)**: How often a word appears in a document. More frequent words in a document get higher TF.
- **IDF (Inverse Document Frequency)**: How unique or rare a word is across all documents. Common words like "the" or "is" get lower IDF, rare words get higher IDF.

**TF-IDF = TF Ã— IDF**

In [33]:
# Import TF-IDF from scikit-learn

In [34]:
# Transform the X_train and X_test

In [10]:
# Train the LogisticRegression Model

In [35]:
# Make prediction on test set

In [36]:
# Evaluate the model

In [44]:
# Lets predict on some raw texts 
my_testing = 'I love harry potter'

_**We shall export the model and make a simple User Interface using Streamlit** ðŸŽ‰_

In [43]:
# Lets learn about the ROC Curve